<%= form_with(model: post, local: true ) do |form| %>

<% if post.errors.any? %>
<div>
<h2> There is <%= pluralize(post.errors.count, "error") %>
<ul>
<% post.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
</ul>
</div>
<% end %>


<div>
 <%= form.label :title %>
 <%= form.text_field :title %>
</div>

<div>
 <%= form.label :content %>
 <%= form.text_area :content %>
</div>

<div>
 <%= form.submit %>
</div>

<% end %>

