<div class="container">
    <div class="alert alert-success" role="alert">
        <p id="notice"><%= notice %></p>
    </div>

    <h1>Films</h1>
    <table>
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Director</th>
            <th>Action</th>
        </thead>

        <tbody>
        <% @films.each do |film| %>
            <td><%= film.title %></td>
            <td><%= film.description %></td>
            <td><%= film.director %></td>
            <td><%= link_to("Show", film)%></td>
        <% end %>
        </tbody>
    </table>

    <%= link_to "Dashboard", trocs_path %>
</div>